

body{

    display:  table;
    
    background-image: url("https://www.picgaga.com/uploads/wallpaper/4k-images/svPY7zANzkyf-4k-images-hd-landscape-free-pictures.jpg");
   
    background-repeat: no-repeat;
   background-position: center;
   
    background-attachment: fixed;
   
    background-size: cover;

    
}

.linker{
    text-decoration: none; 
    margin-top: 10px;
    text-align: center; 
    color: white; 
}
.linker:hover
{
    text-decoration: none; 
    margin-top: 10px;
    text-align: center; 
    color: rgb(120, 120, 220); 
}
.space{
    margin-top: 5%;
}
.leftPanel{
    display: table;
    position: absolute;

    width: 400px;
    height: 100%;
    background-color: rgba(110,153,184,0.32)
    ;
}

.loginPanel
{
    display: table-cell;
    vertical-align: center;
    padding: 10%;
}
.text
{
    color: white;
    margin-bottom: 30px; 
    filter: drop-shadow(0px 0px 4px 4px rgba(0,0,0,0.5));
}
.form
{
    filter: drop-shadow(0px 0px 4px 4px rgba(0, 0, 0, 0.5))
}