.middle
{
    margin-top: 5%;

    width: 100%;
    background-color: rgba(255,255,255,85%); 
}

.indexInputHidden{

    background-color: transparent;
    border: none;
    outline: none;
    background-color: transparent;
    max-width: 100px;
    min-width: none;
    width: 10%;
}