body{
    background-image: url("https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    
    background-position: center;
   
    background-attachment: fixed;
   
    background-size: cover;
}
h1{
    color : rgb(216, 216, 216)
}
h5{
    color : rgb(216, 216, 216)
}
h5{
    color : rgb(216, 216, 216)
}
a{
    color : rgb(216, 216, 216)
}
th{
    color : rgb(216, 216, 216)
}
td{
    color : rgb(216, 216, 216)
}
.topbar
{
    background-color: rgba(117, 117, 117, 0.199); 
    width: 100%; 
    height: 70px;
}

.sidebarText
{
    color: white;
    text-decoration:none;
    font-size: large;
}
.sidebar
{
    transition: width 0.3s ease-in-out; 
    position: fixed;
    background-color: rgba(95, 95, 95, 0.89); 
    height: 100%;
    width: 0px;
    margin-left: -300px;

}

.footer {
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: rgba(33, 72, 102, 0.822);
}
.header
{
    position: fixed;
    background-color: rgba(110, 110, 110, 0.76);
    margin-top: 0px; 
    width: 100%; 
    height: 70px;
}
.Fixed
{
    position: fixed;
    background-color: rgba(110,153,184,0.0);
}
.UpperLogo
{
    width: 105px;
    height: 52.5px;
    position: fixed; 
    margin-top: 10px; 
    margin-left: -50px;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 4px 4px rgba(0,0,0,50%));
}

.HamburgerButton
{
    position: fixed; 
    width: 65px;
    height: 60px;
    filter: drop-shadow(0px 0px 4px 4px rgba(0,0,0,50%));

    margin-top: 0px; 
    margin-left: 20px;
}