body{
    background-image: url("https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    
    background-position: center;
   
    background-attachment: fixed;
   
    background-size: cover;
}

.topbar
{
    background-color: rgba(250,250,255,0.85); 
    width: 100%; 
    height: 70px;
}

.sidebarText
{
    color: black;
    text-decoration:none;
    font-size: large;
}
.sidebar
{
    transition: width 0.3s ease-in-out; 
    position: fixed;
    background-color: rgba(255,255,255,1); 
    height: 100%;
    width: 0px;
    margin-left: -300px;

}

.footer {
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: rgba(75, 144, 194, 0.72);
}
.header
{
    position: fixed;
    background-color: rgba(250,250,255,0.5);
    margin-top: 0px; 
    width: 100%; 
    height: 70px;
}
.Fixed
{
    position: fixed;
    background-color: rgba(110,153,184,0.0);
}
.UpperLogo
{
    width: 105px;
    height: 52.5px;
    position: fixed; 
    margin-top: 10px; 
    margin-left: -50px;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 4px 4px rgba(0,0,0,50%));
}

.HamburgerButton
{
    position: fixed; 
    width: 65px;
    height: 60px;
    filter: drop-shadow(0px 0px 4px 4px rgba(0,0,0,50%));

    margin-top: 0px; 
    margin-left: 20px;
}